import { Component, OnInit } from '@angular/core';

@Component({
  selector: '<%= selector %>',
  template: `<<%= selector %>-ui></<%= selector %>-ui>`,
})
export class <%= classify(name) %>Container implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
